# Activar motor de reescritura
RewriteEngine On
RewriteBase /

# Si el archivo o directorio solicitado existe, se sirve directamente
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Permitir rutas de recursos estáticos
RewriteCond %{REQUEST_URI} !^/(assets|js|img)/

# Redirigir todo lo demás al index.php
RewriteRule ^ index.php [L]
